{% extends 'squelette.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    {{  super() }}
{%  endblock %}

{% block contenu %}
    <form action="" method="POST"><div class="w3-container w3-flat-sun-flower-txt">
        <h2>Nouveau Post</h2>
        </div>
        <div class="w3-center">
        {{ form.csrf_token }}
        <p class="w3-flat-sun-flower-txt">
            {{ form.title.label }}{{ form.title(size=32) }}
        </p>
        <div class="w3-bar">
            <div class="w3-bar-item">
                {{ form.course.label }}{{ form.course() }}
            </div>
            {#<div class="w3-bar-item">
                {{ form.category.label }}{{ form.category() }}
            </div>
            <div class="w3-bar-item">
                {{ form.subcategory.label }}{{ form.subcategory() }}
            </div>#}
        </div>
        </div>
        <p class="w3-flat-sun-flower-txt">
            {{ form.content() }}
        </p>
        <input type="submit" value="Valider"/>

    </form>
{%  endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Start simple MDE -->
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("content")
        });
    </script>
     <script src="http://code.jquery.com/jquery.js"></script>
<script>
    {# $(document).ready(function() {

    $( "#course" ).change(function() {
        var course_selected=$(this).val();

        req = $.ajax({
            url : '/update_addpost',
            type : 'POST',
            data : { course : course_selected }
        });

    }); #}

    {#$('#').on('click', function() {

        var member_id = $(this).attr('member_id');

        var name = $('#nameInput'+member_id).val();
        var email = $('#emailInput'+member_id).val();

        req = $.ajax({
            url : '/update',
            type : 'POST',
            data : { name : name, email : email, id : member_id }
        });

        req.done(function(data) {

            $('#memberSection'+member_id).fadeOut(1000).fadeIn(1000);
            $('#memberNumber'+member_id).text(data.member_num);

        });


    });

});#}
</script>
{% endblock %}